#ignore:
*
/not-for-git

#add:
!*.c
!*.h
!*gitignore
!*Makefile
!*.cpp
!*.hpp
!**/
!*.py
!*.sqlite3
!*.pyc
!*.pyo

# Django stuff:
!*.log
!*.pt

# Byte-compiled / optimized / DLL files
!__pycache__/
!*.py[cod]
